body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
@font-face {
	font-family: "Dana";
	src: local("Dana"),
		url("./assets/font/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
	font-weight: bold;
}

.text-white {
	color: white;
}

textarea:focus,
input:focus {
	outline: none;
}
